apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: hello-server
  name: hello-server
  namespace: dev
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        app: hello-server
    spec:
      containers:
       - image: hub.tansun.com/test/helloworld:1.0-SNAPSHOT
         imagePullPolicy: IfNotPresent
         name: hello-server
         resources:
          requests:
            memory: "512Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "200m"
         ports:
         - containerPort: 20000
           name: web
      restartPolicy: Always
status: {}

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: hello-server
    my-app: myservicemonitor
  namespace: dev
  name: hello-server
spec:
  ports:
  - name: web
    port: 31000
    protocol: TCP
    targetPort: 20000
    nodePort: 31000
  selector:
    app: hello-server
  type: NodePort
status:
  loadBalancer: {}